body{
    background: #1e2129;
    color: #8e95a5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-brand{
    background: #292C34;
}
.bg-brand2{
    background: #292C34;
    width: 180px;
    height: 120px;
}
.movie-title, .description, .rating{
    font-size: 14px;
    padding-left: 10px;
    color: white;
}
.description{
    font-size: 9px;
    text-align: justify;
    color: #8e95a5;
}
.text-brand{
    color: #8e95a5;
}
.rating{
    font-size: 10px;
}
.title-container{
    height: 70px;
}
.btn{
    background: #404757;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 6px 20px;
    margin-top: 10px;
    width: 96%;
}
.btn-primary{
    background: #404757;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 6px 20px;
    margin-top: 10px;
}